body {
    text-align:center;
}

header {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:100px;
    background: #dbdbdb;
    z-index:10;
    position: fixed;
}

#banner {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-color:#707070;
}

#content {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    left:-20px;
    height:100%;
    position: relative;
    top:400px;
    background-color: #ebebeb;
}